[submodule "include/boost/afio/bindlib"]
	path = include/boost/afio/bindlib
	url = https://github.com/ned14/Boost.BindLib.git
        branch = master
[submodule "include/boost/afio/spinlock"]
	path = include/boost/afio/spinlock
	url = https://github.com/ned14/boost.spinlock.git
        branch = master
